<header class="sticky-top">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app.books.index') }}">Gestionnaire de livres</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
{#                        <a class="nav-link" href="{{ path('Frontend.homepage') }}" aria-current="page"><i class="bi bi-house-fill"></i> Home</a>#}
                    </li>
                    <li class="nav-item">
{#                        <a class="nav-link" href="{{ path('app.books.index') }}">Livres</a>#}
                    </li>
                </ul>
                <div class="navbar-btn me-0 d-flex gap-2 r-4">
                    <div class="dropdown open">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Gestion des données
                        </button>
                        <div class="dropdown-menu" aria-labelledby="triggerId">
                            <a class="dropdown-item" href="{{ path('admin.books.index') }}"><i class="bi bi-file-text-fill"></i> Livres</a>
                            <a class="dropdown-item" href="{{ path('admin.authors.index') }}"><i class="bi bi-person-fill"></i> Auteurs</a>
                            <a class="dropdown-item" href="{{ path('admin.categories.index') }}"><i class="bi bi-list-task"></i> Catégorie</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>